.aaa {

    /*设置列表前顺序表达图，圆，点，希腊文，英文*/
    list-style-type: circle;
    list-style-type: square;
    list-style-type: upper-roman;
    list-style-type: lower-alpha;
    list-style-image: url("asdasdsa");

    /*缩进*/
    list-style-position: inside;
    /*跟随父元素*/
    list-style-position: outside;

    /*更多详见*/
    /*http://www.runoob.com/cssref/pr-list-style-type.html*/
}