/*添加阴影*/
.aaa{
    border: 2px solid;
    border-radius: 20px;
}

/*添加阴影，盒子阴影*/
.bbb{
    box-shadow: 10px 10px 5px #55cffe;
}

.ccc{
    /*给文字添加阴影*/
    text-shadow: 5px 5px 5px #ffffff;

    /*添加阴影，周围，创建卡片*/
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}